<article class="post">
  <div class="post-title">
    <h2 class="title"><%= page.title %></h2>
  </div>
   <div class="post-meta">
    <span class="post-time"><%- date(page.date, "YYYY-MM-DD") %></span>
    <span class="post-tags">
      <% if (page.tags && page.tags.length){ %>
        <%- list_tags(page.tags, {
          show_count: false,
          class: 'article-tag'
        }) %>
      <% } %>
    </span>
    <% if (page.categories && page.categories.length){ %>
      <div class="article-category">分类：
        <%- list_categories(page.categories, {
          show_count: false,
          class: 'article-category',
          style: 'none',
          separator: '►'
        }) %>
      </div>
    <% } %>
  </div>
  <div class="post-content">
    <%- page.content %>
  </div>
</article>