<footer>
    <p>&copy;2017-2018 <a href="http://www.miitbeian.gov.cn/">京ICP备15048606号-1</a> <strong>dsphoebe.com</strong> |
    Hosted by <a href="https://pages.coding.me" style="font-weight: bold">Coding Pages</a></p>
</footer>