<header class="header">
  <nav class="navbar">
    <ul class="menu">
      <% for (name in theme.menu) { %>
        <li class="menu-item">
          <a href="<%- url_for(theme.menu[name]) %>" class="menu-item-link"><%- __('Menu.' + name) %></a>
        </li>
      <% } %>
    </ul>
  </nav>
  <h1><%= config.title %></h1>
</header>